<section>
    <div class="container mt-5">
        <div class="row">
            <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each product}}
            <tr>
                <td> <img src="/Productimages/{{this._id}}.jpg" alt="image" style="width:50px;height:50px"></td>
                <td>{{this.name}}</td> 
                <td>
                     <button class="btn btn-primary mr-3">-</button>  1  <button class="btn btn-primary ml-3">+</button>
                </td>
                <td>
                     <a href="#" class="btn btn-danger" onclick="return confirm('are you sure you want to delete {{this.name}}?')">Delete</a>
                </td>
            </tr>
           {{/each}}
        </tbody>
    </table>
        </div>
    </div>    
</section>
